.hucMap {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.details {
  position: fixed;
  background-color: #fafafa;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 50px;
  padding-top:10px;
  z-index:1000;
}

.row {
  margin-bottom:-2em;
}
.widget {
  /*background-color: #E2E6ED;*/
  background-color: white;
  padding:15px;
  border-radius: 20px;
  width: 100%;
  margin-bottom:20px;
  margin-right:-5px;
}

#inputs {
  color: white;
  /*background-color: #001A57;*/
  background-color: #012169;
  padding: 0px 20px 20px 20px;
  opacity: 0.9;
  border-radius: 20px;
}